<div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <h2>Here is your Magic Link, <code><%= email %></code></h2>
          <div class="text_box">
            <a href="<%= magic_link %>"><%= magic_link %></a>
          </div>
        </div>
      </div>
    </div>
