<% if @current_user %>
<div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <h2>Login Successful</h2>
          <div class="text_box">
            <pre id="noborder" class="prettyprint noborder">
                        <%=@current_user %>
                    </pre>
          </div>
        </div>
      </div>
    </div>    

<% else %>
<div class="flex flex_column height-80vh">
      <div class="flex height-40vh">
        <div class="card width-335">
          <div class="flex_column">
            <div>
              <span>Log in with Magic Link</span>
            </div>
            <hr style="width: 100%; margin-top: 15px; margin-bottom: 20px" />
            <form method="POST" action="/passwordless-auth">
              <div class="flex_column">
                <div>
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="text_input width-225px"
                    placeholder="Enter email"
                  />
                </div>
                <div>
                  <button type="submit" class="button width-225px">
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>