<!doctype html>
<html>
  <head>
    <title>WorkOS Ruby Magic Link Example</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
     <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    </head>
  <body>
    <div class='container_success'>
      <%= yield %>
    </div>
  </body>
</html>
