<h2 class="text-center m-5">User Sign In</h2>
<div class="container text-center">
  <%= form_with url: sso_new_path, method: :get, local: true do |f| %>
    <div class="actions">
      <%= f.submit "Sign in with SSO", class: 'btn btn-primary m-2' %>
    </div>
  <% end %>
</div>
