html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 100;
  padding: 0;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

pre {
  background-color: #eaeaea;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  max-width: 600px;
  margin: auto;
}

.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 16px;
}
