
<div class="container_login">
    <div class='flex_column'>
        <div class="flex heading_div">
            <img src="<%= url("images/workos-logo-with-text.png")%>" alt="workos logo">
        </div>

        <h2>Ruby Audit Logs Example App</h2>
        <form method="POST" action="/set_org">
            <div class="flex_column">
                <div>
                    <input class="text-input" type="text" id="org" name="org">
                </div>
                <div>
                <button type="submit" name="type" value="org" class="button">Submit Organization ID</button>
                </div>
            </div>
        </form>
    </div>
</div>

