
    <div class="logged_in_div_right">
        <div class="flex_column">
          <h2>Which Admin Portal would you like to launch?</h2>
          <div class="flex">
            <table class="width-65vw">
              <tr>
                <th>Intent</th>
                <th>Launch Session</th>
              </tr>
              <tr>
                <td class="ta-left">SSO</td>
                <td>
                  <a class="button button-outline width-95" href="/launch-admin-portal?intent=sso"><img src="<%= url("images/settings-2.svg")%>" class="icon" alt="workos logo"></a>
                </td>
              </tr>
              <tr>
                <td class="ta-left">Directory Sync</td>
                <td>
                  <a class="button button-outline width-95" href="/launch-admin-portal?intent=dsync"><img src="<%= url("images/settings-2.svg")%>" class="icon" alt="workos logo"></a>
                </td>
              </tr>
              <tr>
                <td class="ta-left">Audit Logs</td>
                <td>
                  <a class="button button-outline width-95" href="/launch-admin-portal?intent=audit_logs"><img src="<%= url("images/settings-2.svg")%>" class="icon" alt="workos logo"></a>
                </td>
              </tr>
              <tr>
                <td class="ta-left">Log Streams</td>
                <td>
                  <a class="button button-outline width-95" href="/launch-admin-portal?intent=log_streams"><img src="<%= url("images/settings-2.svg")%>" class="icon" alt="workos logo"></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>