<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" href= <%= url("/stylesheets/styles.css")%>>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    
    <body>
    <div>
    </div>
    <%= yield %>
    </body>
</html>