<html>
    <div class="logged_in_div_right">
        <div class="flex_column">
            <h2>Users</h2>
            <div class="text_box">
                <ul>
                  <% @users.each do |user| %>
                    <li>
                      <a href="/users/<%= user.id %>">
                        <%= user.username %>
                      </a>
                    </li>
                  <% end %>
                </ul>
            </div>
            <h2>Groups</h2>
            <div class="text_box">
              <ul>
                <% @groups.each do |group| %>
                  <li>
                    <a href="/groups/<%= group.id %>">
                      <%= group.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
        </div> 
    </div>
</html>