<% if @group %>
  <h2>Group</h2>

  <pre><%= JSON.pretty_generate(@group) %></pre>
<% end %>


<% if @group_users.any? %>
  <h2>Group Users</h2>

  <ul>
    <% @group_users.each do |user| %>
      <li>
        <a href="/users/<%= user['id'] %>">
          <%= user['username'] %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
