<!DOCTYPE html>
<html lang='en'>
    <head>
        <link rel="stylesheet" href= <%= url("/styles/styles.css")%>>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    </head>
    <body>
     <div class="logged_in_nav">
        <div class="flex">
            <div>
                <img src="<%= url("images/workos-logo-with-text.png")%>" alt="workos logo">
            </div>
        </div>
        <div>
            <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                    Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button
                    class='button nav-item blog-nav-button'>Blog</button></a>
            <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
        </div>
    </div>
    <div class='container_success'>
      <%= yield %>
    </div>
  </body>
</html>