<html>
    <div class="logged_in_div_right">
        <div class="flex_column">
            <div class="width-75vw">
                <h2 class="ta-left "><%= @user.first_name %> <%= @user.last_name %></h2>
            </div>            
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="ta-left">Key</th>
                        <th class="ta-left">Value</th>
                    </tr>
                </thead>
                <tbody>
                <% @user.each do |key, value| %>
                    <tr>
                        <td class="ta-left"><%= key %></td>
                        <td class="ta-left"><%= value %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</html>
