<html>   
  <div class="logged_in_div_right flex-start">
      <div class="flex_column directory_container">
        <div class="flex flex_column">
          <div class="flex width-40vw space-between">
              <h2>Live Webhooks View</h2>
              <div id="tutorial_button">
                  <a href="https://workos.com/blog/test-workos-webhooks-locally-ngrok" target="_blank"
                      class="button mt-15">Tutorial</a>
                      <a href="/webhooks" class="button mt-10">Clear</a>
                  <a href="javascript:history.back()"><button class='button button-outline'>Back</button></a>
              </div>
          </div>
          <div class="text_box" id="empty">
            <code class="prettyprint">
              <div id="msgs"></div>
              </div>
            </code>
          <div style="margin-top: 20px" id="webhooks-view">                
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
  <script type="text/javascript">
        window.onload = function(){
        (function(){
            var show = function(el){
            return function(msg){ el.innerHTML = msg + '<br />' + '<br />' + el.innerHTML; }
            }(document.getElementById('msgs'));
            var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
            ws.onmessage = function(m) { show(m.data); };
        })();
    }
  </script>