<div class="logged_in_nav">
    <div class="flex">
        <div>
            <img src="<%= url("images/workos-logo-with-text.png")%>" alt="workos logo">
        </div>

    </div>
    <div class="flex">                
        <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
        <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                Reference</button></a>
        <a href="https://workos.com/blog" target="_blank"><button
                class='button nav-item blog-nav-button'>Blog</button></a>
        <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
    </div>
</div>

<div class='flex'>
    <div class="logged_in_div_right">
        <div class="flex_column">
            <div class="flex width-941px space-between">
                <div>
                    <p>Error Details</p>
                </div>
                <div>
                    <a href="/logout"><button class="button button-outline">Log Out</button></a>
                </div>                
            </div>
            <div>
                <pre id="noborder" class="prettyprint noborder">
                    <%= @error %>
                    <%= @error_description %>
                </pre>
            </div>
        </div>    
    </div>
</div>