<!doctype html>
<html>
  <head>
    <title>WorkOS Ruby SSO Example</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
    </head>
  <body>

    <div class="container">

      <%= yield %>


    </div>
  </body>
</html>