
<div class="flex_column">
    <div class="flex-column">
        <div>
            <form method="POST" action='/verify_factor'>
                <div class='flex_column'>
                    <div>
                        <input type="text" id="code" name="code" class="text_input"
                            placeholder="Input Auth Code">
                    </div>
                    <div>
                        <button type="submit" class="button">Verify Factor</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>