
<div class="flex_column">
    <div class="flex space_between ">
        <div class="factor_card">
            <h2>Enroll SMS Factor</h2>
            <form method="POST" action="/enroll_factor">
                <div class="flex">
                    <div class="flex">
                        <input class="text_input" type="text" id="phone_number" name="phone_number"
                            placeholder="Phone Number" required>
                    </div>
                </div>
                <div>
                    <button type="submit" name="type" value="sms"
                        class="button button-outline button-sm">Enroll New
                        Factor</button>
                </div>
            </form>
        </div>

        <div class="factor_card">
            <h2>Enroll TOTP Factor</h2>
            <form method="POST" action="/enroll_factor">
                <div class="flex-column">
                    <div class="flex">
                        <input class="text_input" type="text" id="totp_issuer" name="totp_issuer"
                            placeholder="TOTP Issuer" required>
                    </div>
                    <div class="flex">
                        <input class="text_input" type="text" id="totp_user" name="totp_user"
                            placeholder="User Email" required>
                    </div>
                </div>
                <div>
                    <button type="submit" name="type" value="totp"
                        class="button button-outline button-sm">Enroll New Factor</button>
                </div>
            </form>
        </div>

    </div>
</div>