
    <div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <div class="flex space-between width-725px">
            <div class="flex">
              <h2>MFA Factors</h2>
            </div>
            <div class="flex space-between">
              <a href="/enroll_factor_details">
                <button class="button button-outline button-sm">
                  Enroll New Factor
                </button>
              </a>
              <a href="/clear_session">
                <button class="button button-outline button-sm">
                  Clear Factors
                </button>
              </a>
            </div>
          </div>
        </div>
        <div>
          <%if @factors.any? %>
          <table class="width-725px">
            <tr>
              <th>Type</th>
              <th>ID</th>
              <th>View Details</th>
            </tr>
            <% @factors.each do |factor| %>
            <tr>
              <td><%=factor.type %></td>
              <td><%=factor.id%></td>
              <td>
                <a
                  class="button button-outline"
                  href="/factor_detail?id=<%= factor.id %>"

                  ><div class="settings_icon"><img src="<%= url("images/settings.svg")%>" alt="settings"></div>
                  </a>
              </td>
            </tr>
            <%end%>
          </table>
          <%else%>
          <div class="mt-20 card width-725px">
            <p style="text-align: center; color: gray">No Current Factors</p>
          </div>
          <%end%>
        </div>
      </div>
      </div>
    </div>