<!doctype html>
<html>
  <head>
    <title>WorkOS Ruby MFA Example</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
  <body>
    <div class='container_success'>
      <%= yield %>
    </div>
  </body>
</html>
